#Perfil {
    padding: 30px;
    background-image: url('../assets/background/Fondo_2_.webp');
    background-position-y: center;
    background-attachment: auto;
    max-width: 100%;
    width: 70rem;
    margin: auto;
}

#Logos {
    width: 60px;
    height: 60px;
    margin: auto;
}

